{% extends 'base.html.twig' %}

{% block title %}Edit Plane{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1>Edit Plane</h1>

        {{ include('plane/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('plane/_delete_form.html.twig') }}
        <a class="btn btn-secondary" href="{{ path('app_plane_index') }}">back to list</a>

        
    </div>
{% endblock %}
