<header>
    <nav class="navbar navbar-expand-lg bg-light d-flex justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="https://image.pngaaa.com/839/5377839-middle.png" alt="airline_logo" style="width:10vw">
    </a>
   <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flights">Flights</a>
        </li>
        <li>
            <a class="nav-link" href="/register">Register</a>
        </li>
        {% if %}
      </ul>
    </div>
   </div> 
  </div>
</nav>
</header>