{% extends 'base.html.twig' %}

{% block title %}Hello EmailController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Email confirmation successfully send! ✅</h1>
</div>
{% endblock %}